<!-- Header -->
<header id="header">
    <div class="container">
  
      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a class="logo" href="index.html">
            <img src="./img/logo.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->
  
        <!-- Mobile toggle -->
        <button class="navbar-toggle">
          <span></span>
        </button>
        <!-- /Mobile toggle -->
      </div>
  
      <!-- Navigation -->
      <nav id="nav">
          <ul class="main-menu nav navbar-nav navbar-right">
              <li><a routerLink='/employer'>Jobs</a></li>
              <li><a routerLink= '/studentprofile'>My Profile</a></li>
              <li><a href="#">My Applications</a></li>
              <li><a href="#">Messaging</a></li>
              <li><a style="color:#FF6700;" (click)="auth.signOut()"><strong>LOGOUT</strong></a></li>
            </ul>
      </nav>
      <!-- /Navigation -->
  
    </div>
  </header>
  <!-- /Header -->
  
  <!-- Hero-area -->
  <div class="hero-area section">
  
    <!-- Backgound Image -->
    <div class="bg-image bg-parallax overlay" style="background-image:url(./img/page-background.jpg)"></div>
    <!-- /Backgound Image -->
  
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <ul class="hero-area-tree">
            <li>Set your</li>
          </ul>
          <h1 class="white-text">Profile</h1>
  
        </div>
      </div>
    </div>
  
  </div>
  <!-- /Hero-area -->
  
  <!-- Profile -->
  <div id="contact" class="section">
  
    <!-- container -->
    <div class="container">
  
      <!-- row -->
      <div class="row">
  
        <!-- contact info form -->
        <div class="col-md-6">
          <div class="contact-form">
            <h4>My Profile</h4>
            <form action="www.gmail.com" method="post" id="sendemail" *ngIf="auth.user | async as user"> 
              <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/8/8d/President_Barack_Obama.jpg" alt="Girl in a jacket" width="500" height="600"> -->
              <input [(ngModel)]="user.displayName" class="input" type="text" name="name" placeholder="Full Name (as in passport)">
              <input type="date" [(ngModel)]="user.dob" class="input" name="dob" placeholder="dd/mm/yyyy">
              <input class="input" type="country" name="country" placeholder="Country">
              <hr>
              <input [(ngModel)]="user.email" class="input" type="email" name="email" placeholder="Email">
              <input class="input" type="tel" name="phone" placeholder="Telephone">
              <hr>
              <textarea class="input" name="message" placeholder="Comments about yourself"></textarea>
              <upload></upload>
              <!-- Erase this later -->
              <textarea class="input" name="message" placeholder="Upload CV"></textarea>
              <!-- This might be smt to do with submit button, check with John
              <div class="clr"></div> -->
              <button class="main-button icon-button pull-right" value="Save Profile" (click)="auth.updateUserData3(user)">Save profile</button>
            </form>
          </div>
        </div>
        <!-- /contact info form -->
        </div>
        </div>
        </div>
        
        <div class="mainbar2">
            <div class="article" *ngIf="auth.user | async as user">
              <h2><span>Technical</span> Profile</h2>
              <div class="clr"></div>
                <ol >
                    
                      <div>
                        <div>
                          <input type="radio" id="Business" [(ngModel)]="user.category" value="Business">
                          <label for="Business">Business</label>
                        
                          <div class="reveal-if-active">
                             
                      
                            <label for="business">Finance</label>
                            <br>
                            <mat-slider min="0" max="3" step="1" thumbLabel
                            [displayWith]="formatLabel"
                            tickInterval="1"
                            id="business" name="business" class="require-if-active" data-require-pair="#Business" [(ngModel)]="user.skill" value="Finance" (change)="auth.updateUserData3(user)" ></mat-slider>
                            
                          </div>
                        </div>
                        
                       
                        
    
                        <div>
                          <input type="radio" id="Information Technology" [(ngModel)]="user.category" value="Information Technology"  >
                          <label for="Information Technology">Information Technology</label>
                        
                          <div class="reveal-if-active">
                            
                            <label for="IT">Java</label>
                            <br>
                            <mat-slider min="0" max="3" step="1" thumbLabel
                            [displayWith]="formatLabel"
                            tickInterval="1"
                            id="IT" name="IT" class="require-if-active" data-require-pair="#Information Technology" [(ngModel)]="user.skill" value="Java" (change)="auth.updateUserData3(user)"></mat-slider>
                            
                          </div>
                        </div>
                        
    
                        <div>
                            <input type="radio" id="Engineers" [(ngModel)]="user.category" value="Engineers">
                            <label for="Engineers">Engineers</label>
                          
                            <div class="reveal-if-active">
                              
                              <label for="Engineers">Mechanical Engineer</label>
                              <br>
                              <mat-slider min="0" max="3" step="1" thumbLabel
                              [displayWith]="formatLabel"
                              tickInterval="1"
                              id="Engineers" name="Engineers" class="require-if-active" data-require-pair="#Engineers" [(ngModel)]="user.skill" value="Mechanical Engineer"(change)="auth.updateUserData3(user)" ></mat-slider>
                              
                            </div>
                          </div>
                      </div>
                </ol>
            </div>
            <upload></upload>
          </div>
  
  
  
       