<div class="main">
  <div class="header">
  
    <div class="logo">
			<span style="font-size:30px;cursor:pointer" (click)="openNav()"><img src="https://lh3.googleusercontent.com/4m6ECaWU2p21ZCpY_PEF2Z1WTDQBpj6yiWqHNjH7l_Kmq3ncL9a16g94gfVbCZ7bzJDvtswxYKwujgrKcNL1Gp3evf1MkyqO0clJ7AWumqdsll7Rf82u12lfuvZk9OVQqwKE8JPmH-uJIZqE9D14-XAtVWU-RZUNKU0jiQl_Z1lADL4AJ0Wmrtcw_eVkJMGGJrPvXtew-tXp9ipILZ69GR9NEDlypqrqgmDP4ZMDj8yoVu-MpCABP0uRV1WxQOhhhXG5Mgyuv_-OSYa9BL6lHVfvYnTX4YszesDFm_10pTwou4tAXyyUVag9l-TG5NFKJMqPimJRaUeF3hF5JaFv_-6wSp7ZwMUzvzxlE4cBozVbQVPY-8KgxoXkGfRRbNB9JyRp_zs_1ZR_ItKoBr6oX0aJwqVkFfwIXO5elcUtdpFZgZi_fg4lMr6RQxPs-19P5hXuLiP5wViSX6st5ZX6ieSrR8-tiacT5R75PVBqJhh5Sdd88rD45L0OiZH3Zc-5gkV91bivNSqm-qUmwu6ZQS5M4mfz4DqB1Ijabot2RjBHGkfwAbdaACQ_iZW6IiJF9W11DNGHwfPk_MtSZy36_8WhcKaRvkGiXHHzi7xysvBFB9zT6jv3gmZMU4cEopErxO0d09U12JbrqhLUbQ=w67-h62-no"></span>
			<h1><a href="file:///C:/Users/user/Desktop/Project%20DT3/index.html">Job<span>Connect</span></a></h1>
		</div>
	<div class="header_resize">
		
		
		<div class="menu_nav">
        <ul>
            <li><a routerLink= '/employer'>Job listing</a></li>
            <li class="active"><a routerLink= '/studentprofile'>Student Profile</a></li>
            <li><a routerLink= '/student'>Publish job</a></li>
            <li><a routerLink= '/upload'>upload</a></li>
        </ul>
      </div>
      <div class="clr"></div>
    </div>
  </div>
  <div class="content">   
          
    
    <div class="content_resize">

      <div class="mainbar">
        <div class="article">
          <div class="modal-body">
              <li *ngIf="auth.user | async as user">
                  <ul><h2>{{ user.displayName }}</h2></ul>
                  <ul><img src="{{ user.photoURL }}" alt="{{ user.displayName }}"></ul>           
              </li> 
          </div>
          <div class="clr"></div>
          <form action="www.gmail.com" method="post" id="sendemail" *ngIf="auth.user | async as user">
            <ol>
              <li>
                <label for="name">Full name: (required)</label>
                <input type="text" [(ngModel)]="user.displayName" name="Name" placeholder="Enter full Name.."/>
              </li>
              <li>
                <label for="jobtitle">Date of Birth: (required)</label>
                <input type="date" [(ngModel)]="user.dob" name="dob" placeholder="Date of Birth.."/>
              </li>
              <li>
                  <label for="jobposition">Email:</label>
                  <input type="text" [(ngModel)]="user.email" name="email" placeholder="Add information.."/>
                </li>
              <li>
                <label for="jobposition">Add information</label>
                <input type="text" [(ngModel)]="user.info" name="info" placeholder="Add information.."/>
              </li>

              <li>
                  <input type="submit" value="Save Profile" (click)="auth.updateUserData(user)">
                  <div class="clr"></div>
                </li>
			  
            </ol>
          </form>
        </div>
      </div>
	  <div class="mainbar2">
        <div class="article">
          <h2><span>Technical</span> Profile</h2>
          <div class="clr"></div>
          <form action="www.gmail.com" method="post" id="sendemail" >
            <ol>
              <li>
                <label for="name">Industery Sector</label>
                <input id="name" name="name" class="text" />
              </li>
              <li>
                <label for="location">Skill 1</label>
                <input id="location" name="location" class="text" />
              </li>
              <li>
                <label for="jobtitle">Skill 2</label>
                <input id="jobtitle" name="jobtitle" class="text" />
              </li>
              <li>
                <label for="jobposition">Skill 3</label>
                <textarea id="jobposition" name="jobposition" class="text" ></textarea>
              </li>
			  
            </ol>
          </form>
        </div>
        <upload></upload>
      </div>
      
	<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  
	 <div class = "side_menu_header">
	 <h3>Menu</h3>
	 </div>
	 <ul>
	<li><a routerLink= '/studentprofile'>Student Profile</a></li>
	<li><a routerLink= '/student'>Publish job</a></li>
	<li class="active"><a routerLink= '/employer'>Job listing</a></li>
     </ul>
</div>
      <div class="clr"></div>
    </div>
  </div>
</div>
