
  <div class="main" >
    <div class="header">

        <div class="logo">
          <span style="font-size:30px;cursor:pointer" (click)="openNav()"><img src="https://lh3.googleusercontent.com/4m6ECaWU2p21ZCpY_PEF2Z1WTDQBpj6yiWqHNjH7l_Kmq3ncL9a16g94gfVbCZ7bzJDvtswxYKwujgrKcNL1Gp3evf1MkyqO0clJ7AWumqdsll7Rf82u12lfuvZk9OVQqwKE8JPmH-uJIZqE9D14-XAtVWU-RZUNKU0jiQl_Z1lADL4AJ0Wmrtcw_eVkJMGGJrPvXtew-tXp9ipILZ69GR9NEDlypqrqgmDP4ZMDj8yoVu-MpCABP0uRV1WxQOhhhXG5Mgyuv_-OSYa9BL6lHVfvYnTX4YszesDFm_10pTwou4tAXyyUVag9l-TG5NFKJMqPimJRaUeF3hF5JaFv_-6wSp7ZwMUzvzxlE4cBozVbQVPY-8KgxoXkGfRRbNB9JyRp_zs_1ZR_ItKoBr6oX0aJwqVkFfwIXO5elcUtdpFZgZi_fg4lMr6RQxPs-19P5hXuLiP5wViSX6st5ZX6ieSrR8-tiacT5R75PVBqJhh5Sdd88rD45L0OiZH3Zc-5gkV91bivNSqm-qUmwu6ZQS5M4mfz4DqB1Ijabot2RjBHGkfwAbdaACQ_iZW6IiJF9W11DNGHwfPk_MtSZy36_8WhcKaRvkGiXHHzi7xysvBFB9zT6jv3gmZMU4cEopErxO0d09U12JbrqhLUbQ=w67-h62-no"></span>
          <h1><a href="file:///C:/Users/user/Desktop/Project%20DT3/index.html">Job<span>Connect</span></a></h1>
        </div>
      <div class="header_resize">
        
        
        <div class="menu_nav">
            <ul>
                <li class="active"><a routerLink= '/employer'>Job listing</a></li>
                <li><a routerLink= '/studentprofile'>Student Profile</a></li>
                <li id="hide"><a routerLink= '/student'>Publish job</a></li>
                <li><a (click)="auth.signOut()">sign out</a></li>
            </ul>
          </div>
          <div class="clr"></div>
        </div>
      </div>
  <div class="content">
    <div class="content_resize">
      <div class="hbg"><img src="./GrabJob_files/banner.png" width="970" height="200" alt=""></div>
      <div class="mainbar">
        <h2>Job Lists</h2>

<table>
  <tbody><tr>
    <th>Job Title</th> 
    <th>Company</th>
    <th>Location</th>
    <th>Application</th>
    
  </tr>
  <tr *ngFor="let post of posts | async" >
    <td>{{post.title}}</td>
    <td>{{post.content}}</td>
    <td>{{post.location}}</td>
    <td><ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <tr *ngIf="auth.user | async as user">
              <td>{{ user.displayName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.dob }}</td>                              
            </tr> 
          <p>Please confirm that the details are correct and then click the confirm button to apply</p>
      </div>
      <div *ngIf="auth.user | async as user" class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="auth.jobApplication(user)">Confirm</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
    </ng-template>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Apply</button>

    
    </td>    
  </tr>    
</tbody></table>
  
      </div>
      <div id="mySidenav" class="sidenav">
          <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
          
           <div class = "side_menu_header">
           <h3>Menu</h3>
           </div>
           <ul>
              <li><a routerLink= '/studentprofile'>Student Profile</a></li>
              <li><a routerLink= '/student'>Publish job</a></li>
              <li class="active"><a routerLink= '/employer'>Job listing</a></li>
             </ul>
        </div>
      
      <div class="clr"></div>
    </div>
    
  </div>
  