

<!-- Header -->
<header id="header">
    <div class="container">

      <div class="navbar-header">
        <!-- Logo -->
        <div class="navbar-brand">
          <a class="logo" href="index.html">
            <img src="./img/logo.png" alt="logo">
          </a>
        </div>
        <!-- /Logo -->

        <!-- Mobile toggle -->
        <button class="navbar-toggle">
          <span></span>
        </button>
        <!-- /Mobile toggle -->
      </div>

      <!-- Navigation -->
      <nav id="nav">
        <ul class="main-menu nav navbar-nav navbar-right">
          <li><a href="student_index.html">Jobs</a></li>
          <li><a href="student_profile.html">My Profile</a></li>
          <li><a href="student_apps.html">My Applications</a></li>
          <li><a href="#">Messaging</a></li>
          <li><a style="color:#FF6700;" (click)="auth.signOut()"><strong>LOGOUT</strong></a></li>
        </ul>
      </nav>
      <!-- /Navigation -->

    </div>
  </header>
  <!-- /Header -->


  <!-- Hero-area -->
  <div class="hero-area section">

			<!-- Backgound Image -->
			<div class="bg-image bg-parallax overlay" style="background-image:url(./img/page-background.jpg)"></div>
			<!-- /Backgound Image -->

			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1 text-center">
						<ul class="hero-area-tree">
							<!-- <li><a href="index.html">Home</a></li> -->
							<li>A personalised selection</li>
						</ul>
						<h1 class="white-text">Jobs for you</h1>

					</div>
				</div>
			</div>

		</div>
    <!-- /Hero-area -->
    


    <!-- One stop application on this column -->
    <!-- <td><ng-template #content let-modal>
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Confirmation</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <tr *ngIf="auth.user | async as user">
              <td>{{ user.displayName }}</td>
              <td>{{ user.email }}</td>
              <td>{{ user.dob }}</td>                              
            </tr> 
          <p>Please confirm that the details are correct and then click the confirm button to apply</p>
      </div>
      <div *ngIf="auth.user | async as user" class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="auth.jobApplication(user)">Confirm</button>
        <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
      </div>
    </ng-template>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Apply</button>

    </td>     -->
    <!--/ End of one stoop apply column  -->



		<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head" >
								<th class="column1">Job Title</th>
								<th class="column2">Company</th>
								<th class="column3">Location</th>
								<th class="column4">Application</th>
								<!-- <th class="column5">Application</th> -->
								<!-- <th class="column6">Total</th> -->
							</tr>
						</thead>
						<tbody>
								<tr *ngFor="let post of posts | async">
									<td class="column1">{{post.title}}</td>
									<td class="column2">{{post.content}}</td>
									<td class="column3">{{post.location}}</td>
									<td class="column4"><a href="view_more_job.html">Apply now</a></td>
									<!-- <td class="column5"><a href="view_more_job.html">View More</a></td> -->
									<!-- <td class="column6">$999.00</td> -->
								</tr>
								<tr>
									<td class="column1">DT3 Front-end developer</td>
									<td class="column2">James Cook University</td>
									<td class="column3">Toronto (ON) Canada</td>
									<td class="column4">bla</td>
									<!-- <td class="column5"><a href="view_more_job.html">View More</a></td> -->
								</tr>
								

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
	<script src="js/mainTable.js"></script>
	<!-- /Table display -->







	<!-- Footer -->
	<footer id="footer" class="section">

		<!-- container -->
		<div class="container">

			<!-- row -->
			<div class="row">

				<!-- footer logo -->
				<div class="col-md-6">
					<div class="footer-logo">
						<a class="logo" href="index.html">
							<img src="./img/logo.png" alt="logo">
						</a>
					</div>
				</div>
				<!-- footer logo -->

				<!-- footer nav -->
				<div class="col-md-6">
					<ul class="footer-nav">
						<li><a href="index.html">Home</a></li>
						<li><a href="#">About</a></li>
						<li><a href="#">Disclaimer</a></li>
					</ul>
				</div>
				<!-- /footer nav -->

			</div>
			<!-- /row -->

			<!-- row -->
			<div id="bottom-footer" class="row">

				<!-- social -->
				<div class="col-md-4 col-md-push-8">
					<ul class="footer-social">
						<li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
						<li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
						<li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
						<li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
					</ul>
				</div>
				<!-- /social -->

				<!-- copyright -->
				<div class="col-md-8 col-md-pull-4">
					<div class="footer-copyright">
						<span>&copy; Copyright 2018. All Rights Reserved. | This template is made by <a href="https://owlprojx.com">Owl-ProjX</a></span>
					</div>
				</div>
				<!-- /copyright -->

			</div>
			<!-- row -->

		</div>
		<!-- /container -->

	</footer>
	<!-- /Footer -->
  