<!-- Header -->
<header id="header">
  <div class="container">

    <div class="navbar-header">
      <!-- Logo -->
      <div class="navbar-brand">
        <a class="logo" href="index.html">
          <img src="../../assets/logo.png" alt="logo">
        </a>
      </div>
      <!-- /Logo -->

      <!-- Mobile toggle -->
      <button class="navbar-toggle">
        <span></span>
      </button>
      <!-- /Mobile toggle -->
    </div>

    <!-- Navigation -->
    <nav id="nav">
      <ul class="main-menu nav navbar-nav navbar-right">
        <li><a routerLink='/student'>Employer dashboard</a></li>
        <!-- <li><a href="#">All graduates</a></li>
        <li><a href="#">All listings</a></li>
        <li><a href="#">Messaging</a></li> -->
        <li><a style="color:#FF6700;" (click)="auth.signOut()"><strong>LOGOUT</strong></a></li>
      </ul>
    </nav>
    <!-- /Navigation -->

  </div>
</header>
<!-- /Header -->

<!-- Hero-area -->
<div class="hero-area section">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/page-background.jpg)"></div>
  <!-- /Backgound Image -->

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <ul class="hero-area-tree">
          <!-- <li><a href="index.html">Home</a></li> -->
          <li>View graduates who applied to your listings</li>
        </ul>
        <h1 class="white-text">Candidates</h1>

      </div>
    </div>
  </div>

</div>
<!-- /Hero-area -->




<!-- Table display -->

<div class="limiter">
<div class="container-table100">
  <div class="wrap-table100">
    <div class="table100">
      <table>
        <thead>
          <tr class="table100-head" >
            <th class="column1">Applicant Name</th>
            <th class="column2">Email</th>
            <th class="column3">Date of birth</th>
            <th class="column4">Profile</th>
            <!-- <th class="column5">Application</th> -->
            <!-- <th class="column6">Total</th> -->
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let application of applications | async">
              <td class="column1">{{ application.displayName }}</td>
              <td class="column2">{{ application.email }}</td>
              <td class="column3">{{ application.dob }}</td> 
              <!-- Column 4 -->

              
              <td class="column4">


                  <div class="bs-example">
                      <!-- Button HTML (to Trigger Modal) -->
                      <a href="#myModal" class="main-button pull-left" data-toggle="modal">View More</a>
                      
                      <!-- Modal HTML -->
                      <div id="myModal" class="modal fade">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              
                              <h4 class="modal-title">Details</h4>
                            </div>
                            <div class="modal-body">
                                <li *ngIf="auth.user | async as user">
                                    <ul><h2>{{ user.displayName }}</h2></ul>
                                    <ul><img src="{{ user.photoURL }}" alt="{{ user.displayName }}"></ul>
                                    <ul><h2>{{ user.email }}</h2></ul>
                                    <ul><h2>{{ user.dob }}</h2></ul>
                                </li>
                                <h2>Description</h2>
                                <p>{{ user.info }}</p>
                            </div>
                            <div  class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>     
                
                
                

                
               
      
                <!-- End of column 4 -->
                
               
            
                </td>
             





            </tr>
            <!-- We remove this LATER -->
            <tr>
              <td class="column1">Robert Daniel Cook</td>
              <td class="column2">robertcook.rdc@gmail.com</td>
              <td class="column3">2018-12-12</td>
              <td class="column4"><button class="main-button pull-left" (click)="open(content)">View more</button></td>
            </tr>
            <tr>
              <td class="column1">Toh Jian Hui</td>
              <td class="column2">tohjianhui@gmail.com</td>
              <td class="column3">2019-01-04</td>
              <td class="column4"><button class="main-button pull-left" (click)="open(content)">View more</button></td>
            </tr>
          
           
            

        </tbody>
      </table>
    </div>
  </div>
</div>
</div>


<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="js/mainTable.js"></script>
<!-- /Table display -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>




<!-- Hero-area -->
<div class="hero-area section">

  <!-- Backgound Image -->
  <div class="bg-image bg-parallax overlay" style="background-image:url(../../assets/page-background.jpg)"></div>
  <!-- /Backgound Image -->

  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1 text-center">
        <ul class="hero-area-tree">
          <!-- <li><a href="index.html">Home</a></li> -->
          <li>List new employment opportunity</li>
        </ul>
        <h1 class="white-text">Job Posting</h1>

      </div>
    </div>
  </div>

</div>
<!-- /Hero-area -->


<!-- Profile -->
<div id="contact" class="section">
  
  <!-- container -->
  <div class="container">

    <!-- row -->
    <div class="row">

      <!-- contact info form -->
      <div class="col-md-6">
        <div class="contact-form">
          <h4>Job details</h4>
          <form action="www.gmail.com" method="post" id="employeeForm"> 
            <input [(ngModel)]="title" class="input" type="text" name="title" placeholder="Job Title">
            <input type="text" [(ngModel)]="content" class="input" name="content" placeholder="Company">
            <input class="input" [(ngModel)]="location" type="text" name="location" placeholder="Location">
            <hr>
            <h4>Recruitment contact information</h4>
            <!-- You gotta add the tags to this if u wanna store -->
            <input class="input" type="text" name="person" placeholder="Recruiter Name">
            <input class="input" type="email" name="email" placeholder="Email">
            <input class="input" type="tel" name="phone" placeholder="Telephone">
            <hr>
            <!-- Old button, it is now outside the form -->
            <!-- <button class="main-button icon-button pull-right" value="Save Profile" (click)="auth.updateUserData3(user)">Create Job</button> -->
          </form>
          
          <!-- Submit job button, please add an effect on the page, reload or smt -->
          <button class="main-button icon-button pull-right" value="Add a Post" (click)="addPost()">Create Job</button>
        
        </div>
      </div>
      <div class="col-md-5 col-md-offset-1">
        <h4>Information</h4>
          <form action="www.gmail.com" method="post" id="employeeForm"> 
            <textarea class="input" name="message" placeholder="Job Description" style="height: 100px;"></textarea>
            <br><br>
            <textarea class="input" name="message" placeholder="Company Background" style="height: 100px;"></textarea>
            <br><br>
            <hr>
            <h4>Additional</h4>
            <upload></upload>
            <hr>

            <!-- Button repeated here -->
            <!-- <button class="main-button icon-button pull-right" value="Save Profile" (click)="auth.updateUserData3(user)">Create Job</button> -->
          </form>

        </div>
        <!-- End of Skills div -->
      </div>
      <!-- Can also have it here -->
      <!-- <button class="main-button icon-button pull-right" value="Add a Post" (click)="addPost()" style="float: center;">Create Job</button> -->

      
      <!-- /row -->
    </div>
    
    <!-- /container -->

  </div>
  <!-- End of Profile -->

<!-- Footer -->
<footer id="footer" class="section">

<!-- container -->
<div class="container">

  <!-- row -->
  <div class="row">

    <!-- footer logo -->
    <div class="col-md-6">
      <div class="footer-logo">
        <a class="logo" href="index.html">
          <img src="../../assets/logo.png" alt="logo">
        </a>
      </div>
    </div>
    <!-- footer logo -->

    <!-- footer nav -->
    <div class="col-md-6">
      <ul class="footer-nav">
        <li><a href="index.html">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Disclaimer</a></li>
      </ul>
    </div>
    <!-- /footer nav -->

  </div>
  <!-- /row -->

  <!-- row -->
  <div id="bottom-footer" class="row">

    <!-- social -->
    <div class="col-md-4 col-md-push-8">
      <ul class="footer-social">
        <li><a href="#" class="facebook"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#" class="twitter"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#" class="google-plus"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#" class="instagram"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#" class="youtube"><i class="fa fa-youtube"></i></a></li>
        <li><a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
    <!-- /social -->

    <!-- copyright -->
    <div class="col-md-8 col-md-pull-4">
      <div class="footer-copyright">
        <span>&copy; Copyright 2018. All Rights Reserved. | This template is made by <a href="https://owlprojx.com">Owl-ProjX</a></span>
      </div>
    </div>
    <!-- /copyright -->

  </div>
  <!-- row -->

</div>
<!-- /container -->

</footer>
<!-- /Footer -->